/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other custom global styles below these */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
}